*{
    box-sizing: border-box;
    /* font-family: 'Luckiest Guy', cursive; */
    font-family: 'Lilita One', cursive;
    /* font-family: 'Lobster', cursive; */
    font-weight: lighter;
    letter-spacing: 0.15em;
    /* border: 1px solid blue; */
}

body, html {
    margin: 0;
    height: 100%;
}

#credits {
    text-decoration: none;
    font-size: 0.8em;
    color: black;
}

.intro {
    margin: auto;
    width: 60%;
    height:20%;
    padding: 20px 0;;
}

.intro h1 {
    text-align: center;
    font-size: 60px;
    margin: 0;
}

#info {
    text-align: center;
    margin: 30px auto;
    display: none;
    font-size: 2.5em;
}

.intro p {
    text-align: center;
    font-size: 1.3vw;
    margin: 30px;
}

main {
    display: grid;
    grid-template-columns: 0.5fr 1.75fr 0.5fr;
    height: 80%;
}

.player1-scoreboard h1, .player2-scoreboard h1 {
    text-align: center;
    font-size: 3.5em;
    margin: 10px;
}

.player1-scoreboard p, .player2-scoreboard p {
    margin-left: 8px;
    font-size: 1.5em;
    display: flex;
    align-items: center;
}

.grid {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    background-color: bisque;
    gap: 5px;
    height: 39vw;
    min-height: 70%;    
    aspect-ratio: 1;
}

.empty-cell {
    background-color: white;
    display: flex;
}


.form-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 8px solid #8fd0e8;
    border-radius: 8px;
    z-index: 2;
}

.form-container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(7,1fr);
    max-width: 600px;
    padding: 25px;
    background-color: white;
}

.form-container label {
    font-size: 1.1em;
}

.form-container h1 {
    grid-column: 1 / 3;
    text-align: center;
}

.form-container ul {
    padding-left: 0px;
    display: flex;
    max-width: 75%;
    list-style: none;
    justify-content: space-evenly;
    margin: 5px 0 5px 0;
}

.player1-avatar li, .player2-avatar li {
    display: inline-block;
    max-width: 25%;
    text-align: center;
    margin: 5px;
}

.unselected-avatar, .unselected-token {
    display: inline-block;
    width: 100%;
    border: 4px solid transparent;
    margin: auto;
}

.player1-avatar img:hover, .player2-avatar img:hover {
    box-sizing: border-box;
    border: 4px solid #8fd0e8;
    border-radius: 100%;
}


.selected-avatar {
    box-sizing: border-box;
    border: 4px solid #8fd0e8;
    border-radius: 100%;
}

.player1-token li, .player2-token li {
    display: inline-block;
    max-width: 20%;
    text-align: center;
    padding: 5px 0 5px 0;
    margin: auto;
}

@keyframes wiggle {
    0% { transform: translate(0, 0) rotate(0deg); }
    25% { transform: translate(1px, 1px) rotate(5deg); }
    50% { transform: translate(0, 0) rotate(0eg); }
    75% { transform: translate(-1px, 1px) rotate(-5deg); }
    100% { transform: translate(0, 0) rotate(0deg); }
}

.unselected-token:hover {
    animation-duration: 0.7s;
    animation-iteration-count: infinite;
    animation-name: wiggle;
}

.selected-token {
    animation-duration: 0.7s;
    animation-iteration-count: infinite;
    animation-name: wiggle;
}

.form-container * input {
    padding: 6px;
    margin: 5px 0 22px 0;
    border: none;
    background-color: #fff2a4;
    border-radius: 25px;
}

.form-container input:focus {
    /* background-color: #ddd; */
    outline: none;
}

.form-container .game-config {
    grid-column: 1 / 3;
    text-align: center;
    margin: auto;
}

.form-container .form-buttons {
    grid-column: 1/3;
    text-align: center;
}

.form-buttons button {
    font-size: 16px;
    margin: 20px;
}

.warning {
    font-size: 1.1em;
    visibility: hidden;
    margin: 0 auto;
}

.player2-scoreboard, .player1-scoreboard {
    position: relative;
}

.player1-scoreboard .turn-duration {
    display: none;
    position: absolute;
    bottom: 5%;
    right: 5%;
    font-size: 3.5em;
}

.player2-scoreboard .turn-duration {
    display: none;
    position: absolute;
    bottom: 5%;
    left: 5%;
    font-size: 3.5em;
}

.avatar {
    display: none;
    max-width: 100%;
    margin: 0 auto;
    width: 50%;
}

.token img {
    display: none;
    max-width: 50%;
    margin: 5px;
    width: 20%;
}


*[token="x"] {
    background-image: url('images/x-img.png');
    background-color: white;
    background-size:90%;
    background-repeat:no-repeat;
    background-position: center;
    display: flex;
}

*[token="o"] {
    background-image: url('images/o-img.png');
    background-color: white;
    background-size:90%;
    background-repeat:no-repeat;
    background-position: center;
    display: flex;
}

*[token="cheese"] {
    background-image: url('images/cheese.png');
    background-color: white;
    background-size:90%;
    background-repeat:no-repeat;
    background-position: center;
    display: flex;
}

*[token="tomato"] {
    background-image: url('images/tomato.png');
    background-color: white;
    background-size:90%;
    background-repeat:no-repeat;
    background-position: center;
    display: flex;
}

*[token="bean"] {
    background-image: url('images/bean.png');
    background-color: white;
    background-size:90%;
    background-repeat:no-repeat;
    background-position: center;
    display: flex;
}

#start-game {
    padding: 5px;
    margin: auto;
    font-size: 26px;
}

#play {
    padding: 5px;
    display: none;
    margin: 10px auto;
    font-size: 26px;
}

#play-again {
    padding: 5px;
    display: none;
    margin: auto;
    font-size: 26px;
}